body {
    font-family: Verdana, sans-serif;
    font-weight: normal;
}

header h1 {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}

section {
    font-size: 14px;
}
p {
    line-height: 160%;
}
footer {
    font-size: 12px;
    text-align: center;
}