body {
    font-family: Verdana, sans-serif;
    font-weight: normal;
    background-color: lavender;
}

header h1 {
    font-size: 16px;
    color:mediumblue;
    /* font-weight: normal; */
    text-align: center;
}

section {
    font-size: 15px;
}
p {
    line-height: 165%;
}
footer {
    font-size: 12px;
    text-align: center;
}